[submodule "edk2"]
	path = edk2
	url = https://github.com/osteffenrh/edk2.git
[submodule "ms-tpm-containerized-build"]
	path = ms-tpm-containerized-build
	url = https://github.com/stefano-garzarella/ms-tpm-containerized-build.git
[submodule "igvm"]
	path = igvm
	url = https://github.com/microsoft/igvm
[submodule "svsm"]
	path = svsm
	url = https://github.com/stefano-garzarella/svsm.git
[submodule "qemu"]
	path = qemu
	url = https://github.com/osteffenrh/qemu.git
[submodule "kbs/kbs-test"]
	path = kbs/kbs-test
	url = https://github.com/tylerfanelli/kbs-test.git
